{% extends 'base.html' %}

{% block endbody %}
<script src="{{ url_for('static', filename='js/crud/cost/list.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Cost Table</h1>
    <button class="btn btn-primary" data-target="#addModal" data-toggle="modal" onclick="createCost()"
            type="button">Add Record
    </button>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Start</th>
            <th>End</th>
            <th>kWh</th>
            <th>SMC</th>
            <th>Kwh cost</th>
            <th>SMC cost</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>
<div id="pagination-container"></div>
{% endblock %}