{% extends 'base.html' %}

{% block javascript %}
<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/chart_functions.js') }}" type="text/javascript"></script>
<script type="text/javascript">
		var kwhYearJsonDataChart = {{ kwh_data | safe }};
		var smcYearJsonDataChart = {{ smc_data | safe }};




</script>
{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/chart.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="form-check form-switch">
    <input class="form-check-input" id="ChangeChartType" type="checkbox">
    <label class="form-check-label" for="ChangeChartType">Line chart</label>
</div>
<div class="tab">
    <button class="tab-links active" onclick="openChart(event, 'kwh_year_chart_div', kwhYearJsonDataChart)">KWH Chart
    </button>
    <button class="tab-links" onclick="openChart(event, 'smc_year_chart_div', smcYearJsonDataChart)">SMC Chart</button>
</div>

<div class="tab-content" id="kwh_year_chart_div"></div>
<div class="tab-content" id="smc_year_chart_div"></div>

{% endblock %}